{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel primary-panel body-panel">
        <h1 align="center" class="body-header">Профиль</h1>
        <table class="table">
            <tr>
                <td>
                    <img src="{{ user.avatar }}" width="200px" />
                </td>
                <td>
                    {% if user.id == app.user.id %}
                        <fieldset>
                            <legend>Загрузить аватар</legend>
                            <form action="{{ url('change_avatar') }}" method="post" enctype="multipart/form-data">
                                <input type="file" name="avatar" /><br />
                                <button class="btn btn-info" type="submit">Применить</button>
                            </form>
                        </fieldset>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Пользователь</td>
                <td>{{ user.login }}</td>
            </tr>
            <tr>
                <td>E-Mail</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Дата реистрации</td>
                <td>{{ user.regdate | date('d.m.Y H:i') }}</td>
            </tr>
            {% if user.id == app.user.id %}
            <tr>
                <td colspan="2">
                    <fieldset>
                        <legend>Загрузить скин</legend>
                        <img class="skin-image" style="float: left;" src="{{ asset(user.skin) }}" width="256px" height="128px"/>
                        <form action="{{ url('change_skin') }}" method="post" enctype="multipart/form-data">
                            <input type="file" name="skin" /><br />
                            <button class="btn btn-info" type="submit">Применить</button>
                        </form>
                    </fieldset>
                </td>
            </tr>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <td>Роль на сайте</td>
                    <td>{{ user.role }}</td>
                </tr>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <td>Группа</td>
                    <td>
                        <form action="{{ path('user/pex', {'login': user.login}) }}" method="get">
                            <select class="form-control" name="pex_group">
                                {% for gr in pex_groups %}
                                    <option value="{{ gr }}" {{ pex==gr?"selected='selected'":'' }} >{{ gr }}</option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-info" type="submit">Изменить</button>
                        </form>
                    </td>
                </tr>
            {% endif %}
        </table>

        {% if user.login == app.user.login and user.role == 'ROLE_CREATED' %}
            <div id="retry_block" ng-controller="confirmController">
                <span style="color: red">Ваш аккаунт не подтверждён</span>
                <button class="btn btn-info" id="retry_confirm" ng-click="retryMail('{{ app.user.login }}')">Отправить сообщение!</button>
                <i class="fa fa-refresh w3-large" style="display: none;"></i>
                <span id="span_msg"></span>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% if user.login == app.user.login and user.role == 'ROLE_CREATED' %}
    {% block jsincludes %}
        <script type="text/javascript" src="{{ asset('js/app/confirm.js') }}"></script>
    {% endblock %}
{% endif %}