{% extends 'base.html.twig' %}

{% block jsincludes %}
    <script src="{{ asset('/ext/wysiwyg/external/jquery.hotkeys.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/ext/wysiwyg/bootstrap-wysiwyg.js') }}"></script>
    <script src="{{ asset('/ext/wysiwyg/external/google-code-prettify/prettify.js') }}"></script>
    <script src="{{ asset('/js/app/info.js') }}"></script>
    <link href="{{ asset('/ext/wysiwyg/index.css') }}" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">

{% endblock %}

{% block body %}
    <div class="panel primary-panel body-panel" ng-controller="infoController" ng-init="updateInfoPage('{{ action }}');">
        <h1 align="center" class="body-header">{{ title }}</h1>
        <div id="info_body" ng-model="infoBody">

        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <form method="post" id="eidt_form" action="">
                {% include 'ext/richedit.html.twig' with {'form_id': 'eidt_form'} %}
                <br />
                <button type="submit">Сохранить</button>
            </form>
        {% endif %}
    </div>
    <script type="application/javascript">

    </script>
{% endblock %}