<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/base/base.css') }}">
        <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
        <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/angular.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/app/main.js') }}"></script>
    </head>
    <body>
        <table style="margin: 0 auto; width: 50%;">
            <tr>
                <td colspan="2">
                    <div style="height: 100px;">
                        {% block top %}{% endblock %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="d_list" style="width: 250px; min-height: 200px; background-color: #dddddd;">
                        <div style="margin: 10px;">
                        <a href="/">Главная</a><br />
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href='/posts'></a>
                            <a href='/userpage'></a>
                        {% endif %}
                        <a href="/about">О нас</a>   
                        <hr />
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <p style="color: green;">{{app.user.username}}</p>
                            <a href="{{ logout_path('main') }}">Выход</a>
                        {% else %}
                            <form action="{{ path('login') }}" method="POST">
                                <table>
                                    <tr>
                                        <td>Логин</td>
                                        <td><input name="username" type="text" /></td>
                                    </tr>
                                    <tr>
                                        <td>Пароль</td>
                                        <td><input name="password" type="password" /></td>
                                    </tr>
                                    <tr>
                                        <td><button type="submit" name="login">Вход</button></td>
                                        <td><a href="/register">Регистрация</a></td>
                                    </tr>
                                </table>
                            </form>
                        {% endif %}
                        </div>
                    </div>
                </td>
                <td>
                    {% if error is defined %}
                        <p style="color: red;">{{ error }}</p>
                    {% endif %}
                    <div id="d_body">
                        <div ng-app="mainApp" ng-controller="baseController">
                            <button ng-click="changeValue()">Update</button>
                            {[{ testValue }]}
                        </div>
                        {% block body %}{% endblock %}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="d_footer">{% block footer %}{% endblock %}</div>
                </td>
            </tr>
        </table>        
        {% block javascripts %}{% endblock %}
    </body>
</html>
