<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Craft-Life - Сервер Minecraft!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/site/base.css') }}">
        <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
        <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/angular.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/angular-sanitize.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/angular-animate.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/app/main.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/app/post.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/app/servers.js') }}"></script>
        {% block jsincludes %} {% endblock %}
    </head>
    <body ng-app="mainApp">
        <div class="background-image"></div>
        <nav class="navbar navbar-inverse center-block">
            <div class="container upper-panel">

            </div>
            <div class="container-fluid">
                <!--<div class="navbar-header">
                    <a class="navbar-brand" href="/">CRAFT-LIFE</a>
                </div>-->
                <div class="collapse navbar-collapse" id="clNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Главная</a></li>
                        <li><a href="{{ url('work_in_progress') }}">Форум</a></li>
                        <li><a href="{{ url('work_in_progress') }}">Сервера</a></li>
                        <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Информация<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url('work_in_progress') }}">Игровые команды</a></li>
                                <li><a href="{{ url('work_in_progress') }}">FAQ</a></li>
                                <li><a href="{{ url('work_in_progress') }}">Администрация</a></li>
                                <li><a href="{{ url('work_in_progress') }}">О проекте</a></li>
                                <li><a href="{{ url('work_in_progress') }}">О проекте</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ url('work_in_progress') }}">Правила</a></li>
                        <li><a href="{{ url('work_in_progress') }}">Услуги</a></li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="{{ path("post") }}">Создать пост</a></li>
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                <span style="font-size: 14pt;">{{app.user.username}}</span>
                                <button type="button" class="btn btn-info btn-lg" onclick="window.location='{{ logout_path('main') }}'">Выход</button>
                            </li>
                        {% else %}
                            <li><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#loginModal">Вход</button></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>


        {% if error is defined %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <div class="container-fluid body-main" style="width: 70%">
            <div class="row content">
                <div class="col-sm-8 text-left">
                    <div class="primary-panel">
                        <h1 align="center">
                            {% block body_header %}{% endblock %}
                        </h1>
                        {% block body %}{% endblock %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div ng-controller="serversController" class="primary-panel">
                        <div align="center">
                            <button type="button" class="btn btn-lg download-btn" onclick="window.location='{{ asset('downloads/Launcher.jar') }}'">Загрузить лаунчер</button>
                        </div>
                        <br />
                        <span style="font-size: 20pt; color: #f7ecb5">Сервера</span><hr/>
                        <table class="table table-striped">
                            <tr>
                                <td><p ng-bind-html="description"></p></td>
                                <td>{[{players}]} / {[{maxPlayers}]}</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-info" ng-click="updateServers();">Обновить</button></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div id="d_footer" class="footer-panel">Кипирайт и иная шняга{% block footer %}{% endblock %}</div>
                </div>
            </div>
        </div>

        <div id="loginModal" class="modal fade center-block" role="dialog" style="width: 400px; display: none;">
            <div class="modal-content">
                <form action="{{ path('login') }}" method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Вход</h4>
                    </div>
                    <div class="modal-body">
                        <input name="username" type="text" placeholder="Логин" class="form-control"/>&nbsp;
                        <br /><input name="password" type="password" placeholder="Пароль" class="form-control"/>
                        <br/>
                    </div>
                    <div class="modal-footer">
                        <a href="/register">Регистрация</a>&nbsp;<button type="submit"  name="login" class="btn btn-default">Вход</button>
                    </div>
                </form>
            </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
