<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Craft-Life - Сервер Minecraft!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/site/base.css') }}">
        <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
        <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/angular.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/angular-sanitize.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/angular-animate.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/app/main.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/app/post.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/app/servers.js') }}"></script>
        {% block jsincludes %} {% endblock %}
    </head>
    <body ng-app="mainApp">
        <nav class="navbar navbar-inverse center-block">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">CRAFT-LIFE</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="">Форум</a></li>
                        <li><a href="">ТОП-игроков</a></li>
                        <li><a href="{{ path("map") }}">Карта</a></li>
                        <li><a href="">Информация</a></li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="{{ path("post") }}">Создать пост</a></li>
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                <span style="font-size: 14pt;">{{app.user.username}}</span>
                                <button type="button" class="btn btn-info btn-lg" onclick="window.location='{{ logout_path('main') }}'">Выход</button>
                            </li>
                        {% else %}
                            <li><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#loginModal">Вход</button></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>


        {% if error is defined %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <div class="container-fluid" style="width: 70%">
            <div class="row content">
                <div class="col-sm-3 sidenav">
                    {% block left_side %}{% endblock %}
                </div>
                <div class="col-sm-6 text-left">
                    <div id="d_body">
                        <h1 align="center">
                            {% block body_header %}{% endblock %}
                        </h1>
                        {% block body %}{% endblock %}
                    </div>
                </div>
                <div class="col-sm-3">
                    <br/>
                    <div align="center">
                        <button type="button" class="btn btn-success btn-lg" onclick="window.location='{{ asset('downloads/Launcher.jar') }}'">Загрузить лаунчер</button>
                    </div>
                        <div ng-controller="serversController">
                            <h2>Сервера</h2><hr/>
                            <table class="table table-striped">
                                <tr>
                                    <td><p ng-bind-html="description"></p></td>
                                    <td>{[{players}]} / {[{maxPlayers}]}</td>
                                </tr>
                                <tr>
                                    <td><button class="btn btn-info" ng-click="updateServers();">Обновить</button></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="d_footer">{% block footer %}{% endblock %}</div>
                </div>
            </div>
        </div>

        <div id="loginModal" class="modal fade center-block" role="dialog" style="width: 400px;">
            <div class="modal-content">
                <form action="{{ path('login') }}" method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Вход</h4>
                    </div>
                    <div class="modal-body">
                        <input name="username" type="text" placeholder="Логин" class="form-control"/>&nbsp;
                        <br /><input name="password" type="password" placeholder="Пароль" class="form-control"/>
                        <br/>
                    </div>
                    <div class="modal-footer">
                        <a href="/register">Регистрация</a>&nbsp;<button type="submit"  name="login" class="btn btn-default">Вход</button>
                    </div>
                </form>
            </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
