<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/base/base.css') }}">
        <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
        <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>        
    </head>
    <body>
        <table style="margin: 0 auto; width: 50%;">
            <tr>
                <td colspan="2">
                    <div style="height: 100px;">
                        {% block top %}{% endblock %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="d_list" style="width: 150px; height: 200px; background-color: #dddddd;">
                        <a href="/">Главная</a><br />
                        <a href="/register">Регистрация</a><br />
                        <a href="/login">Вход</a><br />
                        <a href="/about">О нас</a>                        
                    </div>
                </td>
                <td>
                    <div id="d_body">
                        {% block body %}{% endblock %}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="d_footer">{% block footer %}{% endblock %}</div>
                </td>
            </tr>
        </table>        
        {% block javascripts %}{% endblock %}
    </body>
</html>
